@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Tienne:400,900);
$orange: #ffa022;
$dorito: #b26600;
$bg: #e1dfe9;
$green: #008e3c;
$lgreen: #6ecc6b;
$dblue: #05476B;
$lblue: #3CB8FF;
$font: FontAwesome,
Exo,
Arial,
sans-serif;
$header: Tienne,
sans-serif;
