@import "variables";
@import "mixins";

/* HEADROOM */

.headroom {
    transition: $transition;
}

.headroom--pinned {
    transform: translateY(0);
}

.headroom--unpinned {
    transform: translateY(-100%);
}


/* SLIDEOUT */

.slideout-menu {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.toggle-button {
    background: rgba(255, 0, 0, 0);
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    padding: 0;
    svg {
        width: 40px;
        height: 40px;
        fill: white;
    }
}


/* MENU */

#menu {
    @include gradient-bg(right);
    width: 256px;
    margin-left: 0;
    position: fixed;
    min-height: 100%;
    #sublist {
        border-bottom: none;
        font-size: 1em;
        display: none;
        margin-left: 1em;
        ul {
            padding-top: 0;
        }
    }
    ul {
        &:first-child {
            padding-top: 2em;
        }
        padding-left: 0;
        li {
            border-bottom: 1px solid white;
            .current {
                color: $orange !important;
            }
            a {
                overflow: hidden;
                display: block;
                padding-bottom: .3em;
                padding-top: .3em;
                padding-left: 1em;
                color: white;
                font-size: 1.5em;
                &:hover {
                    @extend .current;
                }
            }
        }
    }
}

#langswitch {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    border: 1px solid white;
    @include gradient-bg(right);
    option {
        color: black;
    }
}


/* TEXT-RELATED*/

h1,
h2 {
    font-family: $header;
    text-shadow: 1px 1px 5px $dblue;
}

h1 {
    color: white;
    font-size: 2.5em;
    sup {
        font-size: .5em;
        vertical-align: top;
        line-height: 1.7em;
    }
}

h2 {
    margin-top: .8em;
    margin-bottom: .6em;
    color: $dblue;
    font-size: 2em;
    text-align: center;
    font-family: $header;
    border-bottom: 3px solid black;
    a {
        display: block;
        color: $dblue;
    }
}

h3 {
    font-family: $font;
    text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
    margin-bottom: .3em;
}

p,
a,
td,
tr,
label,
figcaption {
    font-family: $font;
    font-size: 1em;
    line-height: 1.4em;
}

strong {
    font-weight: bold;
    text-decoration: underline;
}

p {
    padding-bottom: .5em;
}

a {
    text-decoration: none;
    color: $dorito;
    transition: $transition;
    &:hover {
        color: $orange;
        transition: $transition;
        cursor: pointer;
    }
}

#links {
    text-align: center;
}


/* BODY */

body {
    width: 100%;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body,
#panel {
    background-color: $bg;
    background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, .5) 50%);
    background-size: 50px 50px;
}

#content,
#cv {
    padding-top: 5%;
}

#panel {
    display: none;
}

.iframe {
    display: flex;
    justify-content: center;
    width: 100%;
}

.slideout-panel,
#content {
    height: auto;
    min-height: 100%;
}

#content {
    p {
        margin-left: 1.2em;
        margin-right: 1.2em;
    }
}

#main {
    padding-bottom: 4em;
    margin-top: 2.5em;
}

ul {
    list-style: none;
}

header,
footer {
    @include gradient-bg(left);
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    top: 0;
    width: 96%;
    z-index: 100;
    height: 2.5em;
}

footer {
    p {
        color: white;
        padding-bottom: 0;
        font-size: 0.8em;
        &:last-of-type {
            font-size: 1.5em;
        }
    }
    a {
        color: white;
        margin-right: .3em;
        &:last-of-type {
            margin-right: 0;
        }
        &:hover {
            color: $orange;
        }
    }
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}


/* PROFILE-PAGINA */

#imgdiv {
    margin: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    img {
        margin-bottom: 5%;
        width: 60%;
    }
}


/* PORTFOLIO-PAGINA */

#right,
#left {
    transition: $transition;
    &:hover {
        opacity: .3;
        transition: $transition;
    }
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        min-width: initial;
        max-width: initial;
        width: 50px;
        height: 50px;
    }
    #scroller {
        background-color: #269;
        background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
        background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        width: 330px;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 5px solid black;
        border-radius: 25px;
        padding-left: 10px;
        padding-right: 10px;
        a {
            display: block;
        }
        figure {
            &:first-of-type {
                margin-left: 10px;
            }
            &:last-of-type {
                padding-right: 20px;
            }
            width: 50px;
            height: 50px;
            margin-right: 40px;
            display: block;
            a {
                filter: grayscale(100%);
                line-height: initial;
                &:hover {
                    filter: initial;
                }
            }
        }
    }
}

#description {
    margin-top: 10%;
    padding: 1em;
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    p,
    h2,
    a {
        color: white;
    }
    p,
    h2 {
        display: none;
    }
    h2 {
        margin-top: 0;
        border-bottom: 3px groove white;
        transition: $transition;
        &:hover {
            a {
                color: $orange;
            }
            border-bottom-color: $orange;
            transition: $transition;
        }
    }
}


/* Experiences-pagina */

#expList {
    a {
        font-size: 1.2em;
    }
    text-align: center;
    width: 100%;
    li {
        margin-bottom: .5em;
    }
}

#loader {
    background: rgba(0, 0, 0, .6);
    padding-top: 2em;
    padding-bottom: 2em;
    display: none;
    p,
    figcaption {
        color: white;
    }
    a {
        color: yellow;
    }
    figure {
        text-align: center;
        margin-bottom: 1em;
        img {
            width: 90%;
        }
    }
}


/* CV-pagina */

table {
    width: 100%;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: 1em;
    text-align: right;
}

th {
    text-align: left;
    padding-left: 1em;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    width: 100%;
    img {
        min-width: 300px;
        max-width: 100%;
        width: 200px;
    }
}

figure {
    @extend picture;
    flex-flow: column;
}

#slides {
    display: none;
}

@media screen and (min-width: 480px) {
    header {
        height: 4.2em;
        .toggle-button {
            width: 60px;
            height: 60px;
            svg {
                width: 60px;
                height: 60px;
            }
        }
    }
    footer {
        position: fixed;
    }
    #menu {
        li {
            font-size: 1.2em;
        }
    }
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.7em;
    }
    p,
    td,
    tr,
    label {
        font-size: 1.3em;
    }
    p>a {
        font-size: 1em;
    }
    label {
        margin-right: 1em;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 30em;
        margin-bottom: .5em;
        margin-top: .5em;
        &:active {
            content: none;
        }
    }
    .rule {
        display: flex;
        flex-flow: row;
    }
    .content p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    footer {
        p {
            font-size: 1em;
        }
    }
    #verslag {
        img {
            width: auto;
            height: auto;
        }
    }
    #imgdiv {
        flex-flow: row wrap;
        flex-direction: row;
        img {
            width: 40%;
            margin-right: 5%;
        }
    }
    #description {
        margin-left: 1em;
        margin-right: 1em;
    }
}

@media screen and (min-width: 992px) {
    /* mobiel naar desktop menu */
    .toggle-button {
        visibility: hidden;
    }
    #menu {
        display: block;
        width: 0;
        height: 100%;
        a {
            font-size: 1.3em;
        }
    }
    #main {
        margin-top: 0;
    }
    #panel {
        width: auto;
        margin-left: 256px;
    }
    header {
        display: none;
    }
    /* overige aanpassingen*/
    h1 {
        clear: both;
        text-align: center;
        padding-right: 0;
        width: 100%;
        font-size: 5.5em;
    }
    #content {
        margin-left: 15%;
        margin-right: 15%;
    }
    #cv {
        .tablepart {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            h2 {
                width: 30%;
                height: 100%;
                border-bottom: none;
            }
            table {
                width: 70%;
                border-left: 1px solid black;
                margin-bottom: 1%;
                td {
                    font-size: 1.1em;
                }
            }
        }
    }
    input[type="text"],
    input[type="email"],
    textarea {
        width: 55%;
    }
    #imgdiv {
        flex-flow: row;
        img {
            width: 25%;
            margin-right: 1%;
        }
    }
    footer {
        width: calc(100% - 256px);
    }
    picture {
        img {
            width: auto;
        }
    }
    #projects {
        padding-left: 10px;
        padding-right: 10px;
        img {
            width: 70px;
            height: 70px;
        }
        #scroller {
            width: 450px;
            figure {
                &:first-of-type {
                    margin-left: 20px;
                }
                &:last-of-type {
                    padding-right: 40px;
                }
                width: 70px;
                height: 70px;
                margin-right: 40px;
            }
        }
    }
    #loader {
        figure {
            img {
                width: 60%;
            }
        }
    }
}