@import url(https://fonts.googleapis.com/css?family=Exo);
@import url(https://fonts.googleapis.com/css?family=Tienne:400,900);
@import url("../node_modules/reset-css/reset.css");
@import url("../build/font-awesome/css/font-awesome.min.css");
@import url("../node_modules/css-ripple-effect/dist/ripple.min.css");
/* HEADROOM */
.headroom {
  transition: 0.3s ease-in-out; }

.headroom--pinned {
  transform: translateY(0); }

.headroom--unpinned {
  transform: translateY(-100%); }

/* SLIDEOUT */
.slideout-menu {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.toggle-button {
  background: rgba(255, 0, 0, 0);
  color: white;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0; }
  .toggle-button svg {
    width: 40px;
    height: 40px;
    fill: white; }

/* MENU */
#menu {
  background: linear-gradient(to right, #0c537a, #187ab2);
  width: 256px;
  margin-left: 0;
  position: fixed;
  min-height: 100%; }
  #menu #sublist {
    border-bottom: none;
    font-size: 1em;
    display: none;
    margin-left: 1em; }
    #menu #sublist ul {
      padding-top: 0; }
  #menu ul {
    padding-left: 0; }
    #menu ul:first-child {
      padding-top: 2em; }
    #menu ul li {
      border-bottom: 1px solid white; }
      #menu ul li .current, #menu ul li a:hover {
        color: #ffa022 !important; }
      #menu ul li a {
        overflow: hidden;
        display: block;
        padding-bottom: .3em;
        padding-top: .3em;
        padding-left: 1em;
        color: white;
        font-size: 1.5em; }

#langswitch {
  position: absolute;
  bottom: 0;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 2%;
  border-radius: 20px;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  background: linear-gradient(to right, #0c537a, #187ab2); }
  #langswitch option {
    color: black; }

/* TEXT-RELATED*/
h1,
h2 {
  font-family: Tienne, sans-serif;
  text-shadow: 1px 1px 5px #05476B; }

h1 {
  color: white;
  font-size: 2.5em; }
  h1 sup {
    font-size: .5em;
    vertical-align: top;
    line-height: 1.7em; }

h2 {
  margin-top: .8em;
  margin-bottom: .6em;
  color: #05476B;
  font-size: 2em;
  text-align: center;
  font-family: Tienne, sans-serif;
  border-bottom: 1px solid black; }
  h2 a {
    display: block;
    color: #05476B; }

h3 {
  font-family: FontAwesome, Exo, Arial, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 1.2em;
  margin-bottom: .3em; }

p, #verslag ul,
a,
td,
tr,
label {
  font-family: FontAwesome, Exo, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em; }

strong {
  font-weight: bold;
  text-decoration: underline; }

p, #verslag ul {
  padding-bottom: .5em; }

a {
  text-decoration: none;
  color: #b26600;
  transition: 0.3s ease-in-out; }
  a:hover {
    color: #ffa022;
    transition: 0.3s ease-in-out;
    cursor: pointer; }

/* BODY */
body {
  width: 100%; }

html,
body {
  height: 100%;
  min-height: 100%; }

body,
#panel {
  background-color: #e1dfe9;
  background-image: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 50px 50px; }

#content,
#cv {
  padding-top: 5%; }

#panel {
  display: none; }

.slideout-panel,
#content {
  height: auto;
  min-height: 100%; }

#content p, #content #verslag ul, #verslag #content ul {
  margin-left: 1.2em;
  margin-right: 1.2em; }

#main {
  padding-bottom: 4em;
  margin-top: 2.5em; }

ul {
  list-style: none; }

header,
footer {
  background: linear-gradient(to left, #0c537a, #187ab2); }

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  top: 0;
  width: 96%;
  z-index: 100;
  height: 2.5em; }

footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0; }
  footer p, footer #verslag ul, #verslag footer ul {
    color: white;
    padding-bottom: 0;
    font-size: 0.8em; }
    footer p:last-of-type, footer #verslag ul:last-of-type, #verslag footer ul:last-of-type {
      font-size: 1.5em; }
  footer a {
    color: white;
    margin-right: .3em; }
    footer a:hover {
      color: #ffa022; }

/* TALENT-PAGINA'S */
#verslag {
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  display: none;
  padding-top: .8em; }
  #verslag img {
    width: 80%;
    height: 80%; }
  #verslag p, #verslag ul {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em; }
  #verslag ul {
    list-style: circle; }

#assSelect {
  display: block;
  margin: 0 auto 2em; }

/* PROFILE-PAGINA */
#imgdiv {
  margin: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  #imgdiv img {
    margin-bottom: 5%;
    width: 60%; }

/* PORTFOLIO-PAGINA */
#right,
#left {
  transition: 0.3s ease-in-out; }
  #right:hover,
  #left:hover {
    opacity: .3;
    transition: 0.3s ease-in-out; }

#projects {
  display: flex;
  justify-content: center;
  align-items: center; }
  #projects img {
    min-width: initial;
    max-width: initial;
    width: 50px;
    height: 50px; }
  #projects #scroller {
    background-color: #269;
    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    width: 330px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid black;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px; }
    #projects #scroller a {
      display: block; }
    #projects #scroller figure {
      width: 50px;
      height: 50px;
      margin-right: 40px;
      display: block; }
      #projects #scroller figure:first-of-type {
        margin-left: 10px; }
      #projects #scroller figure:last-of-type {
        padding-right: 20px; }
      #projects #scroller figure a {
        filter: grayscale(100%);
        line-height: initial; }
        #projects #scroller figure a:hover {
          filter: initial; }

#description {
  margin-top: 10%;
  padding: 1em;
  background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px, linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px, linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px, linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #1b1b1b 10px, transparent 10px), linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px; }
  #description p, #description #verslag ul, #verslag #description ul,
  #description h2,
  #description a {
    color: white; }
  #description p, #description #verslag ul, #verslag #description ul,
  #description h2 {
    display: none; }
  #description h2 {
    margin-top: 0;
    border-bottom: 3px groove white;
    transition: 0.3s ease-in-out; }
    #description h2:hover {
      border-bottom-color: #ffa022;
      transition: 0.3s ease-in-out; }
      #description h2:hover a {
        color: #ffa022; }

/* CV-pagina */
table {
  width: 100%; }

td {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  text-align: right; }

th {
  text-align: left;
  padding-left: 1em; }

picture, figure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 3%;
  text-align: center;
  width: 100%; }
  picture img, figure img {
    min-width: 300px;
    max-width: 100%;
    width: 200px; }

figure {
  flex-flow: column; }

/* CONTACT-PAGINA */
.error {
  color: red; }

.success {
  color: green;
  display: none;
  width: 100%;
  text-align: center; }

#form {
  margin-left: 1em; }

input,
textarea {
  background-color: lightgray;
  transition: 0.3s ease-in-out; }
  input:focus,
  textarea:focus {
    background-color: white;
    transition: 0.3s ease-in-out; }

textarea {
  resize: none;
  height: 3.5em; }
  textarea::-webkit-input-placeholder {
    color: white; }
  textarea:-ms-input-placeholder {
    color: white; }

input::-webkit-input-placeholder {
  color: white; }
input:-ms-input-placeholder {
  color: white; }

input[type="text"],
input[type="email"],
textarea {
  border-radius: 5px;
  width: 80%;
  font-family: FontAwesome, Exo, Arial, sans-serif;
  font-size: 1em;
  text-indent: 5px; }

input[type="text"],
input[type="email"] {
  height: 1.2em; }

input[type="submit"] {
  display: block;
  border: none;
  background-color: #3CB8FF;
  color: white;
  height: 3em;
  width: 5em;
  border-radius: 10px; }
  input[type="submit"]:hover {
    background-color: #ffa022;
    box-shadow: 0 0 30px #3CB8FF; }

label {
  display: block;
  padding-bottom: .5em;
  padding-top: .5em; }

#slides {
  display: none; }

@media screen and (min-width: 480px) {
  header {
    height: 4.2em; }
    header .toggle-button {
      width: 60px;
      height: 60px; }
      header .toggle-button svg {
        width: 60px;
        height: 60px; }

  footer {
    position: fixed; }

  #menu li {
    font-size: 1.2em; }

  h1 {
    font-size: 3.5em; }

  h2 {
    font-size: 2.7em; }

  p, #verslag ul,
  td,
  tr,
  label {
    font-size: 1.3em; }

  p > a, #verslag ul > a {
    font-size: 1em; }

  label {
    margin-right: 1em; }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 30em;
    margin-bottom: .5em;
    margin-top: .5em; }
    input[type="text"]:active,
    input[type="email"]:active,
    textarea:active {
      content: none; }

  .rule {
    display: flex;
    flex-flow: row; }

  .content p, .content #verslag ul, #verslag .content ul {
    padding-left: 1.5em;
    padding-right: 1.5em; }

  footer p, footer #verslag ul, #verslag footer ul {
    font-size: 1em; }

  #verslag img {
    width: auto;
    height: auto; }

  #imgdiv {
    flex-flow: row wrap;
    flex-direction: row; }
    #imgdiv img {
      width: 40%;
      margin-right: 5%; }

  #description {
    margin-left: 1em;
    margin-right: 1em; } }
@media screen and (min-width: 992px) {
  /* mobiel naar desktop menu */
  .toggle-button {
    visibility: hidden; }

  #menu {
    display: block;
    width: 0;
    height: 100%; }
    #menu a {
      font-size: 1.3em; }

  #main {
    margin-top: 0; }

  #panel {
    width: auto;
    margin-left: 256px; }

  header {
    display: none; }

  /* overige aanpassingen*/
  h1 {
    clear: both;
    text-align: center;
    padding-right: 0;
    width: 100%;
    font-size: 5.5em; }

  #content {
    margin-left: 15%;
    margin-right: 15%; }

  #form {
    width: 100%;
    text-align: center; }
    #form label {
      text-align: left; }
    #form input,
    #form textarea {
      width: 100%; }
    #form input[type="submit"] {
      width: 10%; }

  #cv .tablepart {
    display: flex;
    flex-flow: row;
    justify-content: space-between; }
    #cv .tablepart h2 {
      width: 30%;
      height: 100%;
      border-bottom: none; }
    #cv .tablepart table {
      width: 70%;
      border-left: 1px solid black;
      margin-bottom: 1%; }
      #cv .tablepart table td {
        font-size: 1.1em; }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 55%; }

  #imgdiv {
    flex-flow: row; }
    #imgdiv img {
      width: 25%;
      margin-right: 1%; }

  footer {
    width: calc(100% - 256px); }

  picture img, figure img {
    width: auto; }

  #projects {
    padding-left: 10px;
    padding-right: 10px; }
    #projects img {
      width: 70px;
      height: 70px; }
    #projects #scroller {
      width: 450px; }
      #projects #scroller figure {
        width: 70px;
        height: 70px;
        margin-right: 40px; }
        #projects #scroller figure:first-of-type {
          margin-left: 20px; }
        #projects #scroller figure:last-of-type {
          padding-right: 40px; } }
