body {
    background-color: #ebebeb;
    margin: 0 auto;
}

* {
    font-family: Arial, Calibri, sans-serif;
}

a {
    color: #008e3c;
    text-decoration: none
}

a:hover {
    color: #6ecc6b
}

header {
    text-align: center;
    background-color: #d3ffe7;
}

nav {
    align-content: center;
    word-spacing: 2.3em;
    font-size: 1.2em;
}

nav li {
    display: inline;
}

.pp {
    text-align: center
}

.B {
    float: left;
    margin: 0%;
}

.B img {
    width: 70%
}

.error {
    font-size: 2em;
}

div {
    margin-left: 3%;
    text-align: center;
}

footer {
    font-size: 0.7em;
    text-align: center;
    background-color: black;
    color: white;
    clear: both;
}